<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Menu Page</title>

    <!-- style -->
    <link rel="stylesheet" href="./assets/css/main.css">
</head>
<body>
    <section class="menu">
        <!-- title -->
        <div class="title">
            <h2>Our Menu</h2>
            <div class="underline"></div>
        </div>
        <!-- filter -->
        <div class="btn-container">
            <!-- <button class="filter-btn" type="button" data-id="all">All</button>
            <button class="filter-btn" type="button" data-id="breakfast">Breakfast</button>
            <button class="filter-btn" type="button" data-id="lunch">Lunch</button>
            <button class="filter-btn" type="button" data-id="dessert">Dessert</button> -->
        </div>
        <!-- menu items -->
        <div class="section-center">
            <!-- single item -->
            <!-- <article class="menu-item">
                <img src="./img/batagor-vege.jpeg" class="photo" alt="menu item">
                <div class="item-info">
                    <header>
                        <h4>Batagor Vegetarian</h4>
                        <span>24.000</span>
                    </header>
                    <p class="item-text">Batagor vegan disajikan dengan sambal kacang</p>
                </div>
            </article> -->
            <!-- end single item -->
        </div>
    </section> 
    
    <!-- javascript -->
    <script src="./assets/js/app.js"></script>
</body>
</html>