<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>FAQ Page</title>

    <!-- style css -->
    <link rel="stylesheet" href="./assets/css/main.css">
</head>
<body>
    <section class="questions">
        <!-- title -->
        <div class="title">
            <h2>General Questions</h2>
        </div>

        <!-- questions -->
        <div class="section-center">
            <!-- single question -->
            <article class="question">
                <div class="question-title">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, accusantium.?</p>
                    <button type="button" class="question-btn">
                        <span></span>
                        <span></span>
                    </button>
                </div>
                <!-- answer -->
                <div class="answer">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, cumque ad praesentium similique modi repellat. Aperiam excepturi ratione sit aliquid impedit maiores mollitia labore fugit.</p>
                </div>
            </article>
            <!-- end single question -->

            <!-- single question -->
            <article class="question">
                <div class="question-title">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, accusantium.?</p>
                    <button type="button" class="question-btn">
                        <span></span>
                        <span></span>
                    </button>
                </div>
                <!-- answer -->
                <div class="answer">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, cumque ad praesentium similique modi repellat. Aperiam excepturi ratione sit aliquid impedit maiores mollitia labore fugit.</p>
                </div>
            </article>
            <!-- end single question -->

            <!-- single question -->
            <article class="question">
                <div class="question-title">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, accusantium.?</p>
                    <button type="button" class="question-btn">
                        <span></span>
                        <span></span>
                    </button>
                </div>
                <!-- answer -->
                <div class="answer">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, cumque ad praesentium similique modi repellat. Aperiam excepturi ratione sit aliquid impedit maiores mollitia labore fugit.</p>
                </div>
            </article>
            <!-- end single question -->
        </div>
    </section>
    
    <!-- javascript -->
    <script src="./assets/js/app.js"></script>
</body>
</html>