<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Navbar Practice</title>

    <!-- style css -->
    <link rel="stylesheet" href="./assets/css/main.css">
</head>
<body>
    <nav>
        <div class="nav-center">
            <!-- navigation header -->
            <div class="nav-header">
                <img src="../../../imgs/beinawair-logo-dark.png" alt="logo"><h1 class="logo">beinawair</h1>
                <button class="nav-toggle">
                    <i class="fas fa-bars"></i>
                </button>
            </div>

            <!-- links -->
            <ul class="links">
                <li><a href="#">Home</a></li>
                <li><a href="#">Portofolio</a></li>
                <li><a href="#">Contact</a></li>
            </ul>

            <!-- social media icons -->
            <ul class="social">
                <li>
                    <a href="https://www.twitter.com">
                    <i class="fab fa-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.twitter.com">
                    <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.twitter.com">
                    <i class="fab fa-behance"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.twitter.com">
                    <i class="fab fa-linkedin"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.twitter.com">
                    <i class="fab fa-sketch"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    
    <!-- javascript -->
    <script src="./assets/js/app.js"></script>
</body>
</html>